@tailwind preflight;
@tailwind components;
/* Extracted components go here */

.ao-btn {
  @apply .px-2 .py-1 .rounded .m-2 .border-grey-darkest .border bg-grey-darkest text-white font-light;
}

.ao-btn.white {
  @apply .border-white .border bg-white text-grey-darkest;
}

.ao-btn.hollow {
  @apply .border-grey-darkest .border .text-grey-darkest .bg-transparent;
}

.ao-btn.white.hollow {
  @apply .border-white .border bg-transparent text-white;
}

.ao-btn:hover {
  @apply .border-grey-darkest bg-white text-grey-darkest;
}

.ao-btn.hollow:hover {
  @apply .border-grey-darkest .border bg-grey-darkest text-white;
}

.ao-btn-xs {
  @apply .text-xs;
}

@tailwind utilities;
/* Regular css below */

.list-complete-item {
  transition: all 400ms ease;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}

.list-complete-item>button {
  transform: scale(0.8);
  opacity: 0.5;
  transition: .2s all ease;
}

.list-complete-item>button.active {
  opacity: 1;
  transform: scale(1);
}

.list-container-default {
  @apply .flex .flex-wrap .relative;
}

.list-container-order {
  @apply .block;
}

.list-btn-default {
  @apply .bg-grey-darkest .text-white .text-xl .rounded-sm .overflow-hidden .m-2 .font-light .flex .border .border-black .shadow;
  transition: 0.2s all;
}

.list-btn-default.duplicate {
  @apply .bg-red-dark .border-red-darkest;
}

.list-btn-sort {
  @apply .px-8 .py-2 .bg-grey-darkest .text-white .text-xl .rounded-sm .overflow-hidden .m-2 .font-light .flex .border .border-black .shadow;
}

.page-slide-enter-active, .page-slide-leave-active {
  transition: all .3s ease;
  transform: translateX(0)
}

.page-slide-enter {
  opacity: 0;
  transform: translateX(200px)
}

.page-slide-leave-to {
  opacity: 0;
  transform: translateX(-200px)
}

.disabled {
  @apply .text-white .bg-grey-darker border-grey-darkest pointer-events-none;
}

.tools-input {
  @apply .border .w-full .p-2 .resize-none rounded shadow-inner font-light;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

html, body {
  height: 100%;
}

/*table stuff*/

.tools-table {
  border-collapse: collapse;
  width: 100%;
}

.tools-table td, .tools-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*.tools-table tr:nth-child(even) {
  background-color: #f2f2f2;
}*/

.tools-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-weight: 300;
}

.transition-sm {
  transition: 0.2s all;
}

.transition-none {
  transition: none !important
}